<template>
  <div id="app">
    <div id="nav">
      <!-- <router-link to="/">Home</router-link>  -->
      <!-- <router-link to="/about">About</router-link> -->
      <!-- <router-link to="/UserInfo">Подробнее</router-link> -->
    </div>
    <router-view/>
  </div>
</template>


<script>
import "../css/style.css"

export default{
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
