body {
  font-family: "Gilroy";
}
  
.GridBlocks{
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.FlexBoxes{
  margin: 1rem ;
  width: 282px;
  height: 223px;
  background-color: #F0F0F0;
  text-align: start;
  padding: 0.5rem 2rem;
  border-radius: 15px;
}
.Home{
  h1{
    margin-top: 0;
    font-size: 70px;
  }
}
.Face{
  width: 1200px;
  margin: 0 auto;
  p{
    text-align: start;
    font-size: 17px;
    color: black;
  }
  h1{
    margin-top: 0;
    font-size: 70px;
  }
}
.Link{
  position: relative;
  text-decoration: none;
  text-align:center;
  width: 270px;
  height: 40px;
  background-color: #0071E3;
  color: white;
  position: relative;
  left: 0;
  border-radius: 10px;
}
.TextLink{
  text-decoration: none;
  position: absolute;
  color: white;
  top: 10px;
  left: 50%;
  transform:translate(-50%);
}
.FaceLink{
  left: 50%;
  transform:translate(-50%);
}
.FlexBtn{
  margin: 40px auto;
  width: 550px;
  display: flex ;
}
