<template>
  <div class="about">
    <AboutFace />
  </div>
</template>

<script>
import AboutFace from '@/components/AboutFaceBook.vue'

export default {
  components:{
    AboutFace
  }
}
</script>
