<template>
  <div class="Home">
    <h1>Facebook 2</h1>
    <HomePage />
  </div>
</template>

<script>
import HomePage from '@/components/HomePage.vue'

export default {
  name: 'Home',
  
  components: {
    HomePage
  }
}
</script>
