<template>
  <div>
     <h1> Hello {{item}} </h1>
     <div class="FlexBtn">
         <div class="Link Face">
             <router-link class="TextLink" :to="{path: `/about`}">О нас </router-link>
         </div>
         <div class="Link Face">
             <router-link class="TextLink" :to="{path: `/`}">На главную </router-link>
         </div>
      </div>
  </div>
</template>

<script>
export default {
   data() {
       return{
           item: this.$route.params['item.id']
       }
   }
}
</script>
