<template>
  <div class="UsersPage">
    <UserInformation />
  </div>
</template>

<script>
import UserInformation from '@/components/UserInfo.vue'
export default {
  name: "User",
  components:{
   UserInformation
 },
}
</script>