<template>
<div id="AddForm">
  <form  @submit.prevent="OnSubmit" >
    <input class="input_for_add" type="text" required v-model="inputValue" />
    <button type="submit" class="btn_for_add">Add</button>
  </form>
</div>
</template>

<script>
export default {
  name: "AddForm",
  data() {
    return {
      inputValue: "",
    };
  },
  methods: {
    OnSubmit: function () {
      this.$emit("new_form", this.inputValue);
      this.inputValue = ""
    },
  },
};
</script>

<style></style>
