<template>
  <div class="item">
    <div class="flex_box">
    <h3 class="info_title">{{ parent_info.title }}</h3>
    <i>{{ parent_info.time }}</i>
    </div>
    <button @click="$emit('delete_todo', parent_info.id )"  class="rm">&times;</button>
  </div>
</template>

<script>
export default {
  name: "TodoItem",
  // Принимаем данные от родителя
  props: ["parent_info"],
};
</script>

<style>

</style>
