<template>
  <div id="app">
    <div class="container">
      <div class="head_container">
    <h1 class="name_of">Todo Applications</h1>
    <AddForm @new_form="checking_function" />
      </div>
      <hr class="underline" />
    <!-- v-model связывает input.value с переменной -->
    <main>
      <!-- Отправляем данные ребенку -->
      <TodoItem v-for="item of todos" :key="item.key" :parent_info="item"
      v-on:delete_todo="remove_todo"/>
    </main>
    </div>
    <!-- <router-view /> -->
  </div>
</template>

<script>

import AddForm from "./components/AddForm.vue"
import TodoItem from "./components/TodoItem.vue"

export default {
  data() {
    return {
      todos: [
        {
          id: Math.random.toString().slice(0, 2),
          time: "18:45",
          title: "Buy milk :)",
          isDeleted: false,
        },
        {
          id: Math.random.toString().slice(0, 3),
          time: "20:04",
          title: "Buy  new car ",
          isDeleted: false,
        },
        {
          id: Math.random.toString().slice(0, 4),
          time: "21:00",
          title: "Buy Macbook Pro '16' ",
          isDeleted: false,
        },
          {
          id: Math.random.toString().slice(0, 1),
          time: "21:00",
          title: "Buy New Company -_- ",
          isDeleted: false,
        },
      ],
    };
    
  },
  methods: {
    checking_function: function (text) {
      this.todos.push({
        id: Math.random(),
        time: new Date().getHours() + ":" + new Date().getMinutes(),
        title: text,
        isDeleted: false,
      });
    },
  remove_todo(id){
    this.todos = this.todos.filter(del => del.id !== id)
  }
  },
  components: {
    AddForm, 
    TodoItem
  },
};
</script>

<style>
#app{
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1200px;
  }
.container{
  width: 1500px;
  text-align: center;
  margin: 50px auto;
}
.underline{
  margin-top: 42px;
  background-color: #F0F0F0;
  box-shadow: 2px 1px 9px black;
  width: 90%;
}
.name_of{
   background-color: #0cbaba;
   background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%); /* Градиент для текста */
  -webkit-background-clip: text; /* Обрезаем фон по тексту */
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  animation: 10s infinite text;
  transition: .5s ease-in-out;
}
.info_title{
  background-color: #ff4e00;
  background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%); /* Градиент для текста */
  -webkit-background-clip: text; /* Обрезаем фон по тексту */
  -webkit-text-fill-color: transparent;
  transition: .4s ease-in;
}
@keyframes text{
  10%{
   background-color: #9fa4c4;
   background-image: linear-gradient(315deg, #9fa4c4 0%, #9e768f 74%); /* Градиент для текста */
  -webkit-background-clip: text; /* Обрезаем фон по тексту */
  -webkit-text-fill-color: transparent;
  transition: .4s  ease-in-out;
  }
}
 .item{
   position: relative;
   z-index: 1;
   transition: .5s ease-in;
   text-align: start;
   display: flex;
   justify-content: space-between;
   padding: 0 20px 15px;
   margin: 1rem;
   width: 282px;
   height: 92px;
   border: solid 2px blue;
   border-radius: 15px;
   background-color: #F0F0F0;
   box-shadow: 3px 5px 6px lightblue;
   overflow: hidden;
 }  
 .item:hover{
    transform: scale(1.1);
    border: 2px greenyellow solid;
    box-shadow: 3px 5px 6px  blanchedalmond;
    
 }

.item::after{
  content: "";
  position: absolute;
  z-index: -1;
  width: 382px;
  height: 90px;
  top: 120px;
  left: -10%;
  background-color: black;
  transition: .5s ease;
}
.item:hover::after{
  top: 90px;
  background-color: #ff4e00;
background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);

}
 .rm{
   width: 25px;
   border-radius: 15px;
   background-color: transparent;
   font-size: 15px;
   border:2px black solid;
   height: 22px;
   margin-top: 1rem;
 }
 .btn_for_add{
   position: relative;
   z-index: 10;
   top: 1px ;
   margin-left: 8px;
   width: 155px;
   height: 43px;
   background-color: blue;
   outline: none;
   color: black;
   /* border: 2px blue solid ; */ 
   border-color: transparent;
   border-radius: 12px;
   font-size: 20px;
   overflow:hidden;
   transition: .3s ease-in;
   color: white;
 }
 /* .btn_for_add:hover{
   border-color: blue;
   overflow:visible;
 } */
 /* .btn_for_add::after{
   opacity: 0;
   content: "";
   position: absolute;
   z-index: -2;
   top: 40px;
   background-color: blue;
   width: 100%;
   height: 100%;
   left: 0px;
   border-radius: 12px;
   transition: .3s ease-in;
 }
 .btn_for_add:hover::after{
   top: 0px;
   bottom: 0;
   opacity: 1;
 } */

 .input_for_add{
   width: 321px;
   height: 42px;
   border-radius: 12px;
   border: 2px blue solid;
   outline: blue;
   padding: 0 25px;
   font-size: 21px;
   color: #101010;
 }
  
</style>
